<div class="scrolling-text-inner">
    <div class="scrolling-text scrolling-text-top">
        <span class="large">{{ topText }}</span>
        <span class="large">{{ topText }}</span>
        <span class="large">{{ topText }}</span>
        <span class="large">{{ topText }}</span>
        <span class="large">{{ topText }}</span>
    </div>
    <div class="scrolling-text scrolling-text-bottom">
        <span class="large">{{ bottomText }}</span>
        <span class="large">{{ bottomText }}</span>
        <span class="large">{{ bottomText }}</span>
        <span class="large">{{ bottomText }}</span>
        <span class="large">{{ bottomText }}</span>
    </div>
</div>